:root {
    --primary-color: #00ff00;
    --secondary-color: #ff5722;
    --background-color: #000000;
    --text-color: #ffffff;
    --button-hover: #1e1e1e;
    --gradient-bg: linear-gradient(135deg, #1e1e1e, #000000);
    --box-shadow-hover: 0 10px 20px rgba(0, 255, 0, 0.6);
  }
*
{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
header
{
    background-image: url("../Images/Products/background.jpg");
    background-size: cover;
    height: 900px;
}
#hero
{
    height: 100%;
    width: 100%;
}
#hero p
{
    position: relative;
    left: 200px;
    top: 300px;
    width: 500px;
    font-size: 48px;
    color: white;
}
#hero span
{
    color: var(--primary-color);
}
.search-container {
    text-align: center;
}

#search-bar {
    width: 50%;
    padding: 10px;
    font-size: 1.2rem;
    border: 2px solid var(--primary-color);
    border-radius: 50px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

#search-bar:focus {
    box-shadow: 0 0 10px var(--primary-color);
}

main
{
    background-color: var(--primary-color);
    padding-top: 20px;
}
#links
{
    height: 200px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.link img
{
    height: 100px
}
.link:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
  }
hr
{
    border-top: 50px solid;
}
.storePart
{
    height: auto;
}
.itemParent
{
    width: auto;
    margin-top: 50px;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.item
{
    width: 400px;
    height: 500px;
    border: solid 10px;
    border-radius: 20px;
    font-size: 1.5rem;
}
.item:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
  }
.item div
{
    background-color: black;
    color: var(--primary-color);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.item img
{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.item p
{
    color: white;
}
.item button
{
    border-radius: 10px;
    background-color: var(--primary-color);
    width: 210px;
    height: 50px;
    color: white;
    font-size: 1.5rem;
}
.item button:hover {
    transform: scale(1.05);
    box-shadow: var(--box-shadow-hover);
  }

.storePart:nth-child(2n+1)
{
    background-color: black;
}

.storePart:nth-child(2n+1) hr
{
    color: var(--primary-color);
}
.storePart:nth-child(2n+1) h1
{
    color: var(--primary-color);
}
.storePart:nth-child(2n+1) .item
{
    border-color: var(--primary-color);
    background-color: black;
}
.storePart:nth-child(2n+1) .item:hover {
    box-shadow: black;
  }
.storePart:nth-child(2n+1) div
{
    color: black;
    background-color: var(--primary-color);
}
.storePart:nth-child(2n+1) button
{
    background-color: black;
}

.footer {
    background: var(--gradient-bg);
    padding: 40px;
    color: var(--text-color);
}

