@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  --primary-color: #00ff00;
  --secondary-color: #ff5722;
  --background-color: #000000;
  --text-color: #ffffff;
  --button-hover: #1e1e1e;
  --gradient-bg: linear-gradient(135deg, #1e1e1e, #000000);
  --box-shadow-hover: 0 10px 20px rgba(0, 255, 0, 0.6);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../Images/Workouts/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  overflow-x: hidden;
  scroll-behavior: smooth;
}



header {
 
  height:300px;
}







.workout-selection {
  padding: 60px 20px;
  color: var(--text-color);
  text-align: center;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 90%;
}

.workout-selection h1 {
  margin-bottom: 30px;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.workout-options {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.level-select,
.muscle-select {
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 40px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 10px 15px rgba(0, 255, 0, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
  color: var(--text-color);
}

.level-select:hover,
.muscle-select:hover {
  transform: scale(1.1);
  box-shadow: var(--box-shadow-hover);
}

#workout-results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 50px;
  padding: 20px;
}

button {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: none;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: scale(1.1);
  background-color: var(--button-hover);
  color: var(--primary-color);
  box-shadow: var(--box-shadow-hover);
}

.reset-button {
  background-color:white;
  color:rgb(46, 65, 6);
  border: 2px ;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.reset-button:hover{
  transform: scale(1.1);
  background-color: var(--primary-color);
  color:white;
  box-shadow: var(--box-shadow-hover);
}

.workout-item {
  color: var(--text-color);
  border: 2px solid var(--primary-color);
  padding: 25px;
  border-radius: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  min-height: 200px;
  animation: fadeIn 0.8s ease-in-out;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
  animation: fadeInUp 0.8s ease-in-out;
  transform-origin: center;
}

.workout-item:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-hover);
  animation: glow 0.7s infinite alternate;
}

.workout-item h3 {
  color: var(--primary-color);
  margin-bottom: 15px;
  text-align: center;
}

.workout-item p {
  color: #ccc;
  line-height: 1.8;
}

@media (max-width: 1024px) {


  .workout-selection {
    max-width: 95%;
  }

  .level-select,
  .muscle-select {
    max-width: 100%;
  }
}

@media (max-width: 768px) {

  header
  {
    height: 500px;
  }
  button {
    padding: 10px 20px;
  }

  .workout-selection h1 {
    font-size: 2rem;
  }
}