
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
}
.header-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
}

.login-section {
    display: flex;
    align-items: center;
    color: white;
    margin: 0 30px;
}

.navigation-menu {
    display: flex;
    gap: 15px;
    list-style: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 15px;
}
li {
    list-style: none;
}
.navigation-menu a {
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s;
}

.navigation-menu a:hover {
    color: #dadada;
}

.login-section img {
    height: 40px;
    width: auto;
}
.hero-section{
    height: 400px;
    display: flex;
    justify-content:flex-end;
    overflow: hidden;
}
.hero-section img{
    width: 100%;
    height: 900px;
}
.center{
    position:absolute;
    top: 25%;
    left: 10%;
    color: azure;
}
.green-line h3{
    color: #A5DD0F;
}
.green-line{
    display: flex;
    
}
.green-line img{
height: 20px;
width: 200px;
}
.categories{
    background: linear-gradient(to bottom, #A5DD0F 70%, black 30%);
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40px;
}

.categories h2{
    margin-top: 10px;
    color:white;
}
.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0;
}
.itemtype img{
    height: 200px;
    width: auto;
    margin: 0 10px;
}
.itemtype{
 width: auto;
    background: linear-gradient(to bottom, black 50%, #A5DD0F 50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.itemtype button{
color: black;
background-color: #6c9206;
position: relative;
top: 15px;
left: 45px;
padding: 5px;
text-align: center;
width: 120px;
height: 30px;
border-radius: 10px;
border: none;
cursor: pointer;
}
.advice{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.advice img{
    margin-left: 300px;
    width: 25%;
    max-height: 400px;
}
.nutrition-advice{
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.nutrition-advice p{
    width: 70%;
    margin: 20px;
}
.input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.input input{
    margin: 10px;
}
.input label{
    margin: 10px;
    width: 50px;
}
.nutrition-advice button{
    background-color: #A5DD0F;
    padding: 10px;
   position: relative;
   left: 30px;
   border-radius: 10px;
}


.excl{
    background: linear-gradient(to bottom, black 70%, #A5DD0F 30%);
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40px;
    color: white;
}
.exclusive{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: #A5DD0F;
    height: 150px;
}
.exclusive img{
    height: 100px;
    width: auto;
    padding: 20px;
}
.reviews{
    background-color: black;
    padding: 40px;
}
.reviews h2{
    color:white;
    margin: 20px;
    text-align: center;
}
.reviews button{
   background-color:#A5DD0F;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.center-button{
    display: flex;
    justify-content: center;
}
.review-box{
    height: auto;
    width: 300px;
    background-color: #A5DD0F;
    padding: 20px;
    border-radius: 20px;
}
.review-box img {
    width: auto;
height: 40px;
}
footer{
    padding:20px;
    background-color: #A5DD0F;
}
.foot{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact h2{
    color:black;}
.contact a{
    color: white;
    text-decoration: none;
}
.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact input{
    margin: 5px;
}
.foot-img{
    width: auto;
    height: 30px;
    gap: 10px;
    display: flex;
    justify-content: center;
    margin: 15px;
}