
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
}
.header-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
}

.login-section {
    display: flex;
    align-items: center;
    color: white;
    margin: 0 30px;
}

.navigation-menu {
    display: flex;
    gap: 15px;
    list-style: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 15px;
}
li {
    list-style: none;
}
.navigation-menu a {
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s;
}

.navigation-menu a:hover {
    color: #dadada;
}

img {
    height: 40px;
    width: auto;
}
.Hero-Section{
    background-image:url(tire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 250px;
   
}
.center{
    display: flex;
    height: 100%;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: azure;
}
.categories{
    background: linear-gradient(to bottom, green 70%, black 30%);
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40px;
}

.categories h2{
    margin-top: 10px;
    color:white;
}
.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    gap: 10px;
}
.itemtype img{
    height: 150px;
    width: auto;
    margin: 0 25px;
}
.itemtype{
 width: auto;
    background: linear-gradient(to bottom, black 50%, green 50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.itemtype button{
color: black;
background-color: rgb(30, 157, 30);
position: relative;
top: 15px;
left: 15px;
padding: 5px;
text-align: center;
width: 120px;
height: 30px;
border-radius: 10px;
border: none;
cursor: pointer;
}
.excl{
    background: linear-gradient(to bottom, black 70%, green 30%);
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40px;
    color: white;
}
.exclusive{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: green;
    height: 100px;
}
.reviews{
    background-color: black;
    margin: 50px;
    text-align: center;
}
.reviews h2{
    color:white;
    margin: 20px;
}
.review-box{
    height: 150px;
    width: 200px;
    background-color: green;
}
footer{
    position: sticky;
    z-index: 1000;
    bottom:0;
    width: 100%;
    padding:20px;
    background-color: green;
}
.foot{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact h2{
    color:black;}
.contact a{
    color: white;
    text-decoration: none;
}
.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact input{
    margin: 5px;
}
