
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
}
.header-container {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
}

.login-section {
    display: flex;
    align-items: center;
    color: white;
    margin: 0 30px;
}

.navigation-menu {
    display: flex;
    gap: 15px;
    list-style: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 15px;
}
li {
    list-style: none;
}
.navigation-menu a {
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: color 0.3s;
}

.navigation-menu a:hover {
    color: #dadada;
}

.login-section img {
    height: 40px;
    width: auto;
}
.Hero-Section{
    height: 300px;
    display: flex;
    justify-content:flex-end;
}
.Hero-Section img{
    width: 100%;
    
}
.center{
    position:absolute;
    top: 25%;
    left: 10%;
    color: azure;
}
.categories{
    background: linear-gradient(to bottom, green 70%, black 30%);
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40px;
}

.categories h2{
    margin-top: 10px;
    color:white;
}
.item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
    gap: 10px;
}
.itemtype img{
    height: 150px;
    width: auto;
    margin: 0 25px;
}
.itemtype{
 width: auto;
    background: linear-gradient(to bottom, black 50%, green 50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.itemtype button{
color: black;
background-color: rgb(30, 157, 30);
position: relative;
top: 15px;
left: 15px;
padding: 5px;
text-align: center;
width: 120px;
height: 30px;
border-radius: 10px;
border: none;
cursor: pointer;
}
.advice{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.advice img{
    width: 50%;
}
.nutrition-advice{
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;

}
.input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.input input{
    margin: 10px;
}
.input p{
    margin: 10px;
    width: 50px;
}
.nutrition-advice button{
    background-color: green;
    padding: 10px;
   position: relative;
   left: 30px;
   border-radius: 10px;
}


.excl{
    background: linear-gradient(to bottom, black 70%, green 30%);
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40px;
    color: white;
}
.exclusive{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    background-color: green;
    height: 100px;
}
.reviews{
    background-color: black;
    margin: 50px;
    text-align: center;
}
.reviews h2{
    color:white;
    margin: 20px;
}
.review-box{
    height: 150px;
    width: 200px;
    background-color: green;
}
footer{
    padding:20px;
    background-color: green;
}
.foot{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact h2{
    color:black;}
.contact a{
    color: white;
    text-decoration: none;
}
.contact{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact input{
    margin: 5px;
}
